<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class=callout__heading>Ready To Get Started?</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi molestiae corrupti pariatur. 
                Totam recusandae molestiae deserunt labore ipsa pariatur, sit, ratione iure dolor at delectus 
                deleniti facilis numquam dicta unde nostrum quidem, odit molestias. Porro molestiae necessitatibus
                 delectus. Eaque eos natus vero eligendi officia necessitatibus aliquid earum tenetur perferendis. Quisquam?
            </p>
        </div>
        <a href="#" class="btn btn--secondary .btn--stretched">Get Started</a>
    </div>
</div>