<div class="media">
    <div class="media__image">           
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>         
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem unde harum neque facere impedit, 
            explicabo, maiores voluptas quasi laboriosam quam eligendi molestiae corrupti optio id amet! Nihil ipsam excepturi 
            aut maiores aperiam in quis consectetur neque deleniti placeat, officia numquam non laboriosam velit iste 
            dicta, a ab repellendus esse voluptas.
        </p>
    </div>
</div>